@page "/"

<h4>Connecting Same Cosmos DB Database in Local Emulator using SQL API and Mongo API</h4>

<p>This is an experimental approach to connect same Cosmos DB database in local emulator with SQL API and Mongo API </p>
<p>We are using Cosmos DB Local Emulator to create database without any cost.</p>
